@charset "UTF-8";

@font-face {
    font-family: 'titulo';
    src: url(./fonts/BOOMSTER.otf)
}

@font-face {
    font-family: 'sub_titulo';
    src: url(./fonts/Those\ Glitch\ Regular.otf)
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&family=Kaushan+Script&family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


body {
    background-image: url('./imagens/numero_binario.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: arial;
    font-size: 16px;
}

header {
    background-image: linear-gradient(to top, #12455D 1%, #A5FEFE);
    padding: 5px;
    box-shadow: 0px 2px 5px;
    font-family: "titulo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}

header > div {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}

header > div > h1#cyber {
    color: rgb(0, 102, 0);
}

header > div > h1#ranger {
    color: #FF7200;
}

header > p {
    text-align: center;
    color: white;
}

nav {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 5px 0px;
    background-color: #12455D;
    width: auto;
    gap: 10px;
    font-family: cursive;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.05);
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

main {
    background-color: #E5E5E5;
    max-width: 1100px;
    height: 700px;
    margin: auto;
    box-shadow: 0px 2px 10px;
    padding-top: 5px;
    font-family: cursive;   
}

main  h1 {
    background-image: linear-gradient(to right, #006600d5 20%, #E5E5E5);
    margin: 5px 10px 5px 10px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    padding-bottom: 4px;
    text-decoration: underline;
    font-size: 15pt;
}

main  h2 {
    background-image: linear-gradient(to right, #ff4400d7 20%, #E5E5E5);
    margin: 5px 10px 5px 10px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    padding-bottom: 4px;
    text-decoration: underline;
    font-size: 12pt;
}

main  h3 {
    margin: 5px 10px 5px 10px;
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
    padding-bottom: 4px;
    text-decoration: underline;
    font-size: 11pt;
}

main h1, h2, h3{
    font-family: "sub_titulo";
    color: #141414;
}

main  p {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 10px;
}

@media (min-width: 0px) and (max-width: 534px){
    main {
        height: 1740px;
    }
}

@media (min-width: 535px) and (max-width: 546px){
    main {
        height: 1015px;
    }
}

@media (min-width: 547px) and (max-width: 556px){
    main {
        height: 980px;
    }
}

@media (min-width: 557px) and (max-width: 747px){
    main {
        height: 960px;
    }
}

@media (min-width: 748px) and (max-width: 1032px) {
    main {
        height: 915px;
    }
}

@media (min-width: 1033px) and (max-width: 1074px) {
    main {
        height: 885px;
    }

}

#container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 450px;
    background-color: #FF7200;
    border-radius: 10px;
    box-shadow: 0px 0px 5px;
    margin-top: 40px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.overlay_ataques,
.overlay_medidas_de_segurança {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 0.4s ease;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}

.card:hover .overlay_ataques,
.card:hover .overlay_medidas_de_segurança {
    top: 0;
}

.overlay_ataques a,
.overlay_medidas_de_segurança a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 10px 0;
    font-size: 16px;
}

.overlay_ataques a:hover {
    padding: 10px;
    background-color: #e23f3f;
    border-radius: 10px;
}
.overlay_medidas_de_segurança a:hover {
    padding: 10px;
    background-color: #3FE25A;
    border-radius: 10px;
}

.titulo {
    text-align: center;
    padding: 10px;
}

.titulo h3,
.titulo p {
    margin: 5px 0;
    color: black;
}


footer {
    background-color: #5A8A8A;
    text-align: center;
    padding: 4px;
    color: white;
}
