@charset "UTF-8";

main h3 {
    background-image: linear-gradient(to right, #3FE25A 20%, #E5E5E5);
}

button {
    background-color: #4CAF50;
    color: white;
    font-weight: bolder;
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: auto;
}

#botao {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

#resultadoQuiz {
    margin-top: 16px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease;
    text-align: center;
}
